footer {
    background-color: #ffe891;
    color: #2d1f06;
    padding: 15px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px
  }
  
  .social {
    width: 140px;
    display: flex;
    justify-content: space-around;
  }
  
  .text--footer {
    letter-spacing: 1px;
    font-weight: light;
    font-size: 13px;
    text-align: center;
  }
  
  .icons {
    font-size: 25px;
    color: #2d1f06;
  }

  @media screen and (max-width: 500px) {
    .icons{
      font-size: 20px ;
    }
  }