.previewer--container {
    width: 800px;
    height: 80vh;
    background-color: #2d1f06;
    box-shadow: 0 0 10px black;
    color: #ffffff;
    border-radius: 7px;
    margin-top: 30px;
  }
  .previewer--bar {
    background-color: #2d1f06 ;
    color: #ffe891 ;
    font-family: 'Source Code Pro', 'monospace';
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    border-radius: 7px;
  }
  
  .previewer--bar > h6 {
    margin: 0px;
    display: flex;
    align-items: center;
    user-select: none;
    font-size: large;
  }
  
  .previewer--bar > h6:hover {
    letter-spacing: 1px;
    text-shadow: 0 0 10px white;
  
  }
  
  #preview{
    padding: 10px;
    width: 800px;
    height: 740px;
    outline: none;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 2px;
    overflow-y: scroll; 
    overflow-x: hidden; 
  }
  
  #preview::-webkit-scrollbar {
    width: .4vw;
  }
  
  #preview::-webkit-scrollbar-track {
    background: #2d1f06;
  }
  
  #preview::-webkit-scrollbar-thumb {
    background: #fff3c8;
    border-radius: 10px;
  }
  
  #preview::-webkit-scrollbar-thumb:hover {
    background: #ffe891;
  }
  
  #preview::-webkit-scrollbar-track:hover {
    background: #3b2908;
  }
  
#preview code {
  background-color: #FFF;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
}

#preview pre {
  background-color: #FFF;
  padding: 5px 10px;
  color:#000; 
}