* {
  margin: 0px;
  padding: 0px;
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #fff3c8;
  display: flex;
  flex-direction: column;
  gap: 30px; 
  justify-content: center;
  align-items: center;
}

.main--container {
  width: 100%;
  color: #495464;
  font-family: 'Source Code Pro', monospace;
  display: flex;
  gap: 30px; 
  justify-content: center;
  align-items: flex-start;
}

img[alt='freeCodeCamp Logo'] {
  width: 90%;
  height: auto;
}